body {
	font-family: 'Dosis', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

/* Footer */

.footer {
	background-color: #272a32;
	color: #fff;
	padding: 1em;
	text-align: center;
}

.footer a {
	color: #fff;
	font-weight: bold;
}

.content-section {
	color: #fff;
	position: relative;
}

.intro {
	background-color: #dd6064;
}

.intro p {
	font-size:2em;
	padding-top:0.5em;
}

.intro-message {
	padding-top: 0;
}

.timeline {
	background-color: #6cb5ac;
	padding-top: 29px;
}

.timeline-event {
	font-size: 1.5em;
}

.timeline-event .year {
	text-align: right;
	padding-right: 10px;
	margin-bottom: 0;
}

.year-bar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	padding-top: 0.5em;
	list-style: none;
	font-size: 1.5em;
}

.year-bar li:before {
	content: "\2014";
	margin: 0 0.5em;
	margin-left: 0;
}

.year-bar li {
	height: 42px;
}

.year-bar li.small-year {
	height: 11px;
}

.year-bar li.medium-year {
	height: 21px;
}

.facts {
	color: #000;
	background-color: #fff;
	min-height: 800px;
}

.facts li {
	list-style-type: none;
	font-size: 1.5em;
}

.section-background {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
}

.section-background.centered {
	top: 450px;
	left: 600px;
	width: 300px;
}

.post-intro {
	background-color: #dd6064; /* light red */
	padding: 10px;
}

/* Quotes */

.open-quote img {
	position: absolute;
	top: 35px;
	left: -15px;
	width: 102px;
}

blockquote {
	border: 0;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-size: 2em;
}

blockquote p {
	display: inline;
}

blockquote b {
	display: block;
	text-align: right;
	font-weight: normal;
	font-style: italic;
	padding-top: 10px;
}

blockquote b:before {
	content: "\2014";
	padding-right: 7px;
}

.relative {
	position: relative;
}

.quotes {
	background-color: #272a32;
}

/* Thanks */

.thanks {
	padding-top: 2em;
	background: url("../images/skylights-web.jpg") no-repeat center top;
	background-size: cover;
	height: 400px;
	overflow: hidden;
}

.thanks p {
	font-size: 1.5em;
}

.thanks a {
	color: #fff;
	font-weight: bold;
}

/* Timeline grid */

.row-md-plus {
	height: 11px;
}

.row-md-1 {
	height: 42px;
}

.row-md-2 {
	height: 84px;
}

.row-md-3 {
	height: 126px;
}

.row-md-4 {
	height: 168px;
}

.row-md-5 {
	height: 210px;
}

.row-md-6 {
	height: 252px;
}

.row-md-reverse-plus {
	margin-top: -11px;
}

.row-md-reverse-1 {
	margin-top: -42px;
}

.row-md-reverse-1-plus {
	margin-top: -62px;
	margin-bottom: 20px;
}

.row-md-reverse-2 {
	margin-top: -84px;
}

.row-md-reverse-3 {
	margin-top: -126px;
}

.row-md-reverse-4 {
	margin-top: -168px;
}

/* 
	Vertical mobile phones
*/
@media (max-width: 700px) {
	.thanks {
		background-size: initial;
	}
}

/*
	Tablets and smaller
*/
@media (max-width: 991px) {
	.section-background {
		position: inherit;
		overflow: hidden;
	}

	.intro {
		background-color: #dd6064; /* light red */
		max-height: none;
	}

	.intro p {
		font-size:1.5em;
		padding: 1em;
		padding-left: 0;
	}

	.intro h1 {
		padding-left: 0;
		font-size: 2em;
	}

	.intro-message {
		color: #fff;
	}

	.triple-arrow {
		display: none;
	}

	.post-intro {
		border-top: 1px solid #fff;
	}

	.post-intro p {
		font-size: 1.5em;
		padding: 0;
	}

	/* Timeline mobile styles */
	.year-bar {
		display: none;
	}

	.timeline-event {
		padding-top: 1em;
	}

	.timeline-event.first {
		padding-top: 0;
	}

	.timeline-event.last .event-description {
		border-bottom: none;
	}

	.event-description {
		border-bottom: 1px dotted white;
	}

	.timeline-event .year {
		text-align: left;
		font-weight: bold;
	}

	/* Traits */
	.dashed-x, .personal-attribute img, .circle-profile {
		display:none;
	}

	.facts {
		font-size: 1.5em;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 1em;
		min-height: 0;
	}

	/* Quotes */

	blockquote {
		padding-left: 25px;
		padding-right: 25px;
		font-size: 1.5em;
	}

	blockquote b {
		padding-top: 1em;
		font-size: 16px;
	}

	/* Thanks */

	.thanks {
		padding-left: 25px;
		padding-right: 25px;	
	}

	/* Timeline grid reset */

	.row-md-1 {
		height: inherit;
	}

	.row-md-2 {
		height: inherit;
	}

	.row-md-3 {
		height: inherit;
	}

	.row-md-4 {
		height: inherit;
	}

	.row-md-5 {
		height: inherit;
	}

	.row-md-6 {
		height: inherit;
	}

	.row-md-reverse-1 {
		margin-top: inherit;
	}

	.row-md-reverse-1-plus {
		margin-top: inherit;
		margin-bottom: inherit;
	}

	.row-md-reverse-2 {
		margin-top: inherit;
	}

	.row-md-reverse-3 {
		margin-top: inherit;
	}

	.row-md-reverse-4 {
		margin-top: inherit;
	}
}

/*
	Desktops
*/
@media (min-width: 992px) {
	.section-background {
		position: absolute;
		float: left;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
	}

	.intro {
		max-height: 700px;
	}

	.triple-arrow {
		width: 85px;
	}

	.post-intro p {
		font-size: 2em;
		text-align: center;
		vertical-align: middle;
	}

	.event-description {
		background-color: #67a098;
		border-radius: 7px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 1px;
		padding-left: 5px;
		padding-right: 5px;
		width: 160px;
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
        -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
        box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	}

	.timeline-event .year {
		width: 160px;
	}

	.timeline-event {
		opacity: 0;
	}

	.triple-arrow {
		width: 65px;
	}

	.triple-arrow-wrapper {
		padding-top: 5px;
	}

	.dashed-x {
		-moz-border-radius: 50%;
    	-webkit-border-radius: 50%;
	    border-radius: 50%;
	    height: 150px;
	    overflow: auto;
	    margin: auto;
	    position: absolute;
	    top: 0; left: 0; bottom: 0; right: 0;
	    z-index: 100;
	}

	.circle-profile {
		-moz-border-radius: 50%;
    	-webkit-border-radius: 50%;
	    border-radius: 50%;
	    height: 150px;
	    overflow: auto;
	    margin: auto;
	    position: absolute;
	    top: 0; left: 0; bottom: 0; right: 0;
	    z-index: 100;
	}

	.personal-attribute-wrapper {
		width: 992px;
		height: 1000px;
		position:relative;
	    margin: auto;
	}

	.personal-attribute {
		position: absolute;
		text-align: center;
		width: 275px;
	}

	.personal-attribute img {
		width: 75%;
	}

	.personal-attribute p {
		font-size: 1.2em;
	}

	#running-shoes {
		top: 10%;
		left: 10%;
	}

	#books {
		bottom: 10%;
		left: 10%;
	}

	#theatre {
		top: 10%;
		right: 10%;
	}

	#blog {
		bottom: 10%;
		right: 10%;
	}

	.connector {
		border: 0;
		border-bottom: 3px dashed #ccc;
		height: 3px;
		position: absolute;
	}
	
	#running-shoes-connector {
		width: 400px;
		-webkit-transform: rotate(-45deg);
		top: 500px;
		left: 275px;
	}

	#books-connector {
		width: 400px;
		-webkit-transform: rotate(45deg);
		top: 490px;
		left: 310px;
	}

	/*#running-shoes-connector {
		width: 200px;
		-webkit-transform: rotate(-45deg);
		top: 555px;
		left: 325px;
	}

	#books-connector {
		width: 200px;
		-webkit-transform: rotate(45deg);
		top: 410px;
		left: 325px;
	}

	#theatre-connector {
		width: 165px;
		-webkit-transform: rotate(315deg);
		top: 425px;
		right: 355px;
	}

	#blog-connector {
		width: 200px;
		-webkit-transform: rotate(-315deg);
		top: 560px;
		right: 315px;
	}*/
}

/*
	Various larger desktops
*/
@media (min-width: 1250px) {
	.intro-message { 
		padding-top: 4%;
	}

	.triple-arrow {
		width: 100px;
	}

	.triple-arrow-wrapper {
		padding-top: 50px;
	}
}

@media (min-width: 1400px) {
	.intro-message { 
		padding-top: 7%;
	}
}

@media (min-width: 1800px) {
	.section-background {
		position: absolute;
		float: left;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
	}

	.intro {
		max-height: 700px;
	}

	.triple-arrow-wrapper {
		padding-top: 55px;
	}
}