body {
	font-family: 'Dosis', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.content-section {
	color: #fff;
	position: relative;
}

.intro {
	background-color: #dd6064;
}

.intro p {
	font-size:2em;
	padding-top:0.5em;
}

.intro-message {
	padding-top: 0;
}

.timeline {
	background-color: #6cb5ac;
	border-bottom: 4px solid pink;
	padding-top: 29px;
	/*min-height: 1600px;*/
}

.timeline-event {
	font-size: 1.5em;
}

.timeline-event .year {
	text-align: right;
	padding-right: 10px;
	margin-bottom: 0;
}

.year-bar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	padding-top: 0.5em;
	list-style: none;
	font-size: 1.5em;
}

.year-bar li:before {
	content: "\2014";
	margin: 0 0.5em;
	margin-left: 0;
}

.year-bar li {
	height: 42px;
}

.facts {
	color: #000;
	background-color: #fff;
	min-height: 800px;
}

.facts li {
	list-style-type: none;
	font-size: 1.5em;
}

.section-background {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
}

.section-background.centered {
	top: 450px;
	left: 600px;
	width: 300px;
}

.row-md-1 {
	height: 42px;
}

.row-md-2 {
	height: 84px;
}

.row-md-3 {
	height: 126px;
}

.row-md-4 {
	height: 168px;
}

.row-md-5 {
	height: 210px;
}

.row-md-6 {
	height: 252px;
}

.row-md-reverse-1 {
	margin-top: -42px;
}

.row-md-reverse-1-plus {
	margin-top: -62px;
	margin-bottom: 20px;
}

.row-md-reverse-2 {
	margin-top: -84px;
}

.row-md-reverse-3 {
	margin-top: -126px;
}

.row-md-reverse-4 {
	margin-top: -168px;
}

@media (max-width: 991px) {
	.section-background {
		position: inherit;
		overflow: hidden;
	}

	.intro {
		background-color: #dd6064; /* light red */
		max-height: none;
	}

	.intro p {
		font-size:1.5em;
		padding: 1em;
		padding-left: 0;
	}

	.intro h1 {
		padding-left: 0;
		font-size: 2em;
	}

	.intro-message {
		color: #fff;
	}

	.triple-arrow {
		display: none;
	}

	.post-intro {
		display: none;
	}

	/* Timeline mobile styles */
	.year-bar {
		display: none;
	}

	.timeline-event {
		padding-top: 1em;
	}

	.timeline-event.first {
		padding-top: 0;
	}

	.timeline-event.last .event-description {
		border-bottom: none;
	}

	.event-description {
		border-bottom: 1px dotted white;
	}

	.timeline-event .year {
		text-align: left;
		font-weight: bold;
	}

	.row-md-1 {
		height: inherit;
	}

	.row-md-2 {
		height: inherit;
	}

	.row-md-3 {
		height: inherit;
	}

	.row-md-4 {
		height: inherit;
	}

	.row-md-5 {
		height: inherit;
	}

	.row-md-6 {
		height: inherit;
	}

	.row-md-reverse-1 {
		margin-top: inherit;
	}

	.row-md-reverse-1-plus {
		margin-top: inherit;
		margin-bottom: inherit;
	}

	.row-md-reverse-2 {
		margin-top: inherit;
	}

	.row-md-reverse-3 {
		margin-top: inherit;
	}

	.row-md-reverse-4 {
		margin-top: inherit;
	}
}

@media (min-width: 992px) {
	.section-background {
		position: absolute;
		float: left;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
	}

	.intro {
		max-height: 700px;
	}

	.triple-arrow {
		width: 85px;
	}

	.post-intro {
		background-color: #dd6064; /* light red */
		height: 4em;
	}

	.event-description {
		background-color: #67a098;
		border-radius: 7px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 1px;
		padding-left: 5px;
		padding-right: 5px;
		width: 160px;
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
        -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
        box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	}

	.timeline-event .year {
		width: 160px;
	}

	.timeline-event {
		opacity: 0;
	}

	.triple-arrow {
		width: 65px;
	}

	.triple-arrow-wrapper {
		padding-top: 5px;
	}
}

@media (min-width: 1250px) {
	.intro-message { 
		padding-top: 4%;
	}

	.triple-arrow {
		width: 100px;
	}

	.triple-arrow-wrapper {
		padding-top: 50px;
	}
}

@media (min-width: 1400px) {
	.intro-message { 
		padding-top: 7%;
	}
}

@media (min-width: 1800px) {
	.section-background {
		position: absolute;
		float: left;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
	}

	.intro {
		max-height: 700px;
	}

	.triple-arrow-wrapper {
		padding-top: 55px;
	}
}